table{
    
    width:95%;
    margin: 1em;
}
td{
    text-align: center;
    padding: 0.75%;
    
}
th{
    background-color: red;
    font-size: 1.2em;
    
}
table,td,th{
    border: 1px solid red;
    border-collapse: collapse;
    
}